# Add testing folders to ignore
test/data/derivatives/.snakemake/
test/data/derivatives/config/
test/data/derivatives/.snakebids

# Tar files
*.tar

# Ignore files that are available in tar
**/zona_bb_subcortex/MNI152
**/zona_bb_subcortex/MNI2009b
**/zona_bb_subcortex/transforms

# Package files
__pycache__/
